* {
    margin: 0;
    padding: 0;
    border: border-box;
}

header {
    z-index: 2;
    position: relative;
    height: 4.8rem;
    width: 100vw;
    box-shadow: 0 0.2rem 0.5rem rgba(159, 159, 159, 0.559);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
}

.icon {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.app-name {
    font-size: 1.5rem;
    color: #303640;
    margin-left: 1.5rem;
    font-weight: 500;
}

.app-heading {
    display: flex;
}

.search-bar {
    height: 2.5rem;
    width: 15.4rem;
    border: 0.15rem #D1D5DB solid;
    border-radius: 0.5rem;
    color: #B2B2B2;
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 1.5rem;
    padding-left: 1rem;
}

.search-button {
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: white;
    color: #3B82F6;
    font-size: 1rem;
    margin-right: 1.5rem;
    border: 0.1rem #3B82F6 solid;
    cursor: pointer;
}

.search-button:hover {
    background-color: #3B82F6;
    color: white;
}

.search-area {
    display: flex;
    align-items: center;
}

main {
    height: calc(100vh - 4.8rem);
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
}

side-bar {
    height: calc(100vh - 4.8rem);
}

.side-bar {
    color: #374151;
    position: sticky;
    z-index: 0;
    height: calc(100vh - 4.8rem);
    width: 16rem;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: white;
    overflow: hidden;
}

.elements {
    margin-top: 2rem;
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.e {
    margin-left: 2rem;
    cursor: pointer;

}

.t {
    background-color: white;
    transition: all 0.1ms ease-in 0s;
}

.t:hover {
    border-bottom: #374151 solid;
}

.t-active span {
    background-color: #D9D9D9;
    border-radius: 0.3rem;
    pointer-events: none;
}

.ic {
    margin-right: 0.7rem;

}

.ic2 {
    margin-left: 0.7rem;
}

.personalized-gpt-name,
.get-directions-name {
    height: 2rem;
    width: 12rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.05rem #374151 solid;
    background: linear-gradient(to right, #FCF1B2, #F8E2C8, #F4C5C1, #EEC2EA, #C0C8F9, #C9F2FC, #CDFBD1, #E7FCC5);
}

.special {
    transition: all 0.1ms ease-in 0s;
}

.special:hover {
    transform: scale(1.03);
}

.special-active {
    transform: scale(1.1);
    pointer-events: none;
}

.display {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-task {
    height: 2.5rem;
    width: 25.5rem;
    border: 0.15rem #374151 solid;
    border-radius: 0.5rem;
    color: #B2B2B2;
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 1.5rem;
    padding-left: 1rem;
}

.add-button {
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: white;
    color: #3B82F6;
    border: 0.1rem #3B82F6 solid;
    font-size: 1rem;
    cursor: pointer;
}

.add-button:hover {
    background-color: #3B82F6;
    color: white;
}

.to-do-list span {
    color: #374151;
    font-weight: 500;
    font-size: 1.1rem;
}

.tasks {
    display: grid;
    row-gap: 1rem;
}

.task {
    width: 27rem;
    border: 0.1rem #374151 solid;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-auto-rows: minmax(2.5rem, auto)
}

.check {
    width: 1.2rem;
    height: 1.2rem;
}

.delete-button {
    width: 4rem;
    height: 1.2rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background-color: #F63B3B;
}

.remaining-tasks {
    margin-top: 3rem;
}

.completed-tasks {
    margin-top: 10rem;
}

.tasks {
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
}

.sem {
    display: flex;
    justify-content: center;
    font-weight: 550;
}

.s {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sem1 {
    height: 2rem;
    width: 5rem;
    border-radius: 5rem 0 0 5rem;
    color: white;
    background-color: #404A56;
}

.sem2 {
    height: 2rem;
    width: 5rem;
    border-radius: 0 5rem 5rem 0;
    color: #404A56;
    background-color:white ;
    box-shadow: 0.05rem 0.05rem 0.2rem #404A56;
}
.study{
    width:20rem;
    height:3.75rem;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0.05rem 0.05rem 0.4rem #404A56;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.syllabus-name i{
    margin-right: 0.5rem;
}
.download-button{
    border: none;
    width:7.4rem;
    height:1.75rem;
    border-radius: 7.4rem;
    box-shadow: 0.03rem 0.03rem 0.3rem #404A56;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-button i{
    margin-right: 0.5rem;
}
.view-button{
    border: none;
    width:5.2rem;
    height:1.75rem;
    border-radius: 7.4rem;
    box-shadow: 0.03rem 0.03rem 0.3rem #404A56;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-button i{
    margin-right: 0.5rem;
}

.nptel-img{
    width:2.8rem;
    height:0.5rem;
    background-image: url(Images/nptel.png);
    background-size: cover;
}
.nptel-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-button-div{
    position: relative;
    right:1rem;
}
.studyname{
    margin-left: 1rem;
}
