* {
    padding: 0;
    margin: 0;
    color:#374151;
}
::-webkit-scrollbar {
    width: 0.5rem;
  }

  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
input[type="text"] {
    color: #374151; /* Change the font color to red */
}

.add-task-area {
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    display: flex;
    align-items: center;
}

.add-task input {
    width: 25.5rem;
    height: 2.5rem;
    border: 0.15rem #D1D5DB solid;
    border-radius: 0.5rem;
    /* color: #B2B2B2; */
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 1.5rem;
    padding-left: 1rem;
}

.add-task button {
    height: 2.5rem;
    width: 6.5rem;
    border-radius: 0.25rem;
    border: none;
    color: white;
    background-color: #3B82F6;
    font-size: 1rem;
    cursor: pointer;

}

.add-task button:hover {
    background-color: #06347D;
}
.to-do-list{
    height: 70%;
    width: 27rem;
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}
.to-do-tasks {
    margin-top: 1rem;
    max-height:50%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.to-do-tasks-sec{
    height:90%;
    margin-top:0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.completed-tasks{
    margin-top: 2rem;
    height: 50%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.completed-tasks-sec{
    
    height:90%;
    margin-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    
}
p{
    font-size: 1.1rem;
    font-weight: 500;
    color:#374151;
}

.task {
    width: 100%;
    min-height: 2.5rem;
    border: 0.1rem #374151 solid;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.todo-item{
    max-width: 50%;
    word-wrap: break-word;
} 

.task-status span{
    display: none;
}

.td-button{
    height:1.5rem;
    width:4.5rem;
    background-color: #3B82F6;
    color:white;
    text-align: center;
    vertical-align:middle;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

.updt{
    background-color: #1DDA0D;
}
.task-delete svg{
    margin-right: 0.5rem;
}
.dlt{
    background-color: #F63B3B;
}

.task-status{
    display: flex;
}


/*


.task i {
    font-size: 1.2rem;
}


.task-number {
    font-weight: bold;
    margin-right: 10px;
}

.task-status {
    margin-top: 5px;
}

.task-status span {
    padding: 3px 5px;
    border-radius: 3px;
}

.task-status span.Completed {
    background-color: #5cb85c;
    color: #fff;
}

.task-status span.NotCompleted {
    background-color: #d9534f;
    color: #fff;
}

.task-update,
.task-delete {
    color: #337ab7;
    text-decoration: none;
    margin-left: 10px;
}


.to-do-list span {
    color: #374151;
    font-weight: 500;
    font-size: 1.1rem;
}



.completed-tasks .task {
    background-color: rgb(108, 247, 95);
}

.check {
    width: 1.2rem;
    height: 1.2rem;
}

.remaining-tasks {
    margin-top: 3rem;
}

.completed-tasks {
    margin-top: 10rem;
}

.tasks {
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
} */