<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_register.css" />
    <title>College Companion: Login</title>
</head>
<body>
    <div>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>
    <form action="/login" method="post" class="form">
        <div class="form">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="form">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required />
        </div>
        <div class="form">
            <input type="submit" value="Login" />
        </div>
    </form>
    <p>Not a user? <a href="/register">Register</a></p>
</body>
</html>