{% extends "layout.html" %}

{% block title %}
To-Do
{% endblock %}

{% block main %}
<div class="add-task-area">
    <form method="post" action="/add-to-do" class="add-task">
        <input type="text" name="task" placeholder="Enter to do..." autocomplete="off" autofocus required />
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <div>
        <p>TO DO</p>
        {% for task in tasks %}
        <div>
            {{ set c = false }}
            <div>
                {% if task['status'] == -1 %}
                {{ task['task'] }}
                {{ set c = true }}
                {% endif %}
            </div>
            <div>
                {% if c %}
                {% if task['status'] == 1 %}
                <span>Completed</span>
                {% else %}
                <span>Not Completed</span>
                {% endif %}
                <a href="/update/{{ task['id'] }}">Update</a>
                <a href="/delete/{{ task['id'] }}">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <p>Completed</p>
        {% for task in tasks %}
        <div>
            {{ set c = false }}
            <div>
                {% if task['status'] == 1 %}
                {{ task['task'] }}
                {{ set c = true }}
                {% endif %}
            </div>
            <div>
                {% if c %}
                {% if task['status'] == 1 %}
                <span>Completed</span>
                {% else %}
                <span>Not Completed</span>
                {% endif %}
                <a href="/update/{{ task['id'] }}">Update</a>
                <a href="/delete/{{ task['id'] }}">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}