{% extends "layout.html" %}

{% block title %}
To-Do
{% endblock %}

{% block main %}
<div class="add-task-area">
    <form method="post" action="/add-to-do" class="add-task">
        <input type="text" name="task" placeholder="Enter to do..." autocomplete="off" autofocus required />
        <button type="submit">Add</button>
    </form>
</div>
<div class="todo-list-tasks">
    {% for task in tasks %}
    <div class="task">
        <div class="todo-item">
            {{ task['task'] }}
        </div>
        <div class="task-status">
            {% if task['status'] == 1 %}
            <span>Completed</span>
            {% else %}
            <span>Not Completed</span>
            {% endif %}
            <a href="/update/{{ task['id'] }}" class="task-update">Update</a>
            <a href="/delete/{{ task['id'] }}" class="task-delete">Delete</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="todo-list">
    <p>Completed</p>
    {% for task in tasks %}
    <div class="todo-item">
        {% if task['status'] == 1 %}
        {{ task['task'] }}
    </div>
    <div class="task-status">
        {% if task['status'] == 1 %}
        <span>Completed</span>
        {% else %}
        <span>Not Completed</span>
        {% endif %}
        <a href="/update/{{ task['id'] }}" class="task-update">Update</a>
        <a href="/delete/{{ task['id'] }}" class="task-delete">Delete</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}